<% include ../partials/header %>
     <section>
         <div class="container edit-attraction-form-container">
             <div class="row">
                 <div class="col-md-5 edit-attraction-form-head">
                     <div class="text-center">
                         <i class="fas fa-edit fa-5x"></i>
                         <h2 class="edit-attraction-form-head-text">Edit <%= attractionToEdit.attractionName %></h2>
                     </div>
                 </div>
                 <div class="col-md-7 edit-attraction-form-body">
                     <form action="/attractions/<%= attractionToEdit.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                         <div class="form-group">
                             <label for="attractionName">City Attraction Name</label>
                             <input class="form-control" type="text" id="attractionName" name="attractionName" value="<%= attractionToEdit.attractionName %>">
                         </div>
                         <div class="form-group">
                             <label for="image">Upload Attraction Image</label>
                             <input class="form-control-file" id="image"  type="file" name="attractionImage" accept="attractionImage/*" required></input>
                         </div>
                         <div class="form-group">
                             <label for="attractionLocation">City Attraction Address</label>
                             <input class="form-control" type="text" id="attractionLocation" name="attractionLocation" value="<%= attractionToEdit.attractionLocation %>">
                         </div>
                         <div class="form-group">
                             <label for="attractionDescription">Attraction Description</label>
                             <textarea class="form-control" name="attractionDescription" id="attractionDescription"><%= attractionToEdit.attractionDescription %></textarea>
                         </div>
                         <div class="form-group">
                             <button class="form-control btn btn-primary" type="submit">Edit Attraction</button>
                         </div>
                     </form>
                 </div>
             </div>
         </div>
     </section>
<% include ../partials/footer %>